# Data Science Tools and Ecosystem

This notebook gives a summary of the Data Science Tools and Ecosystem

**Objectives: To demonstrate some basic markdown and Python coding capabilities by summarising some key takeaways from the course**
- Listing popular languages used by Data Scientists
- Listing popular libraries used by Data Scientists
- Tabulating commonly used Data Science Tools
- Demonstrating arithmetic operations in Python
- Demonstrating basic functional capabilities of Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R.
3. Julia
4. Scala
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib
4. Pandas
5. Seaborn

|Data Science Tools|
|-|
|MySQL|
|Oracle|
|Apache Airflow|
|Apache Kafka|
|Power BI|
|Tableau|

### Evaluation of arithmetic expressions in Python is demonstarted using the below examples

In [1]:
(3*4)+5
# Basic example of an arithmetic expression to mutiply then add integers

17

In [2]:
mins = 200
hrs = round(mins / 60,2)
#This will convert 200 minutes to hours by diving by 60
print(mins,"minutes is equivalent to:",hrs,"hours")

200 minutes is equivalent to: 3.33 hours

## Author
Dinesh Panda